archive
archive (1)
NeuralNetworks/taxi200.keras
NeuralNetworks/taxi200.keras.meta.json
customTests/Untitled.png
customTests/3Untitled.png
customTests/Untitled.png
customTests/Untitled.png
copilot_tests/import pytest.py
__pycache__/maze.cpython-311.pyc
__pycache__/flappybird.cpython-311.pyc
__pycache__/neuralnetwork.cpython-311.pyc
NeuralNetworks/flappy_ai_model_manual.json
